<!-- @format -->

<!DOCTYPE html>
<html lang="zh-Hant">
    <head>
        <%- include("partials/meta") %>
      <title>登入 | 學聲 EduVoice</title>
        <meta property="og:url" content="https://eduvoice.emtech.cc/login" />
        <link rel="stylesheet" href="/static/css/login.css" />
    </head>

    <body class="emfont-GenWanMin">
        <%- include("partials/nav") %>
        <header></header>
        <main>
            <h1>請輸入密碼 <%= email %></h1>
            <p class="error"><%= message %></p>
            <form action="/login" method="post">
                <input
                    type="email"
                    id="email"
                    name="email"
                    value="<%= email %>"
                    required
                    style="display: none"/>
                <input
                    type="password"
                    id="password"
                    name="password"
                    placeholder="請輸入密碼"
                    required
                />
                <button
                    type="submit"
                    onclick="if(TransitionsAnime){ document.querySelector('main').classList.add('slide')}"
                >
                    登入
                </button>
            </form>
        </main>
        <script>
            var Filedemail = document.getElementById("email");
            var Filedepwd = document.getElementById("password");
            //帳密輸入都要有東西
            var TransitionsAnime=Filedepwd.value.length > 0 && Filedemail.value.length > 0?true:false;
            
            Filedepwd.addEventListener("input", function() {
                if (Filedepwd.value.length > 0 && Filedemail.value.length > 0) {
                    //允許按鈕點擊
                    document.querySelector("button").removeAttribute("disabled");
                    TransitionsAnime=true;
                } else {
                    //禁止按鈕點擊
                    document.querySelector("button").setAttribute("disabled", "disabled");
                    TransitionsAnime=false;
                }
            });
            
            
        </script>
        <%- include("partials/footer") %>
    </body>
</html>