<!-- @format -->

<!DOCTYPE html>
<html lang="zh-Hant">
    <head>
        <%- include("partials/meta") %>
        <title><%= !!locals.schoolName?schoolName:'' %> | 學聲 EduVoice</title>
        <link rel="stylesheet" href="/static/css/login.css" />
        <style>
            main {
                padding-top: 5rem;
                transition: all 0.5s;
            }
            main {
                margin-top: 0rem;
                max-width: unset;
                width: 100%;
                text-align: unset;
            }

            .box {
                background-color: #fff;
                border-radius: 1rem;
                padding: 24px;
                flex-grow: 1;
            }
        </style>
    </head>

    <body class="aemfont-GenWanMin">
        <%- include ("partials/nav") %>
        <main>
            <section>
                <h1>個人資料設定</h1>
                <p>更新個人資料</p>
                <div class="box">
                    <form action="/updateInfo" method="post">
                        <label for="email">個人電子郵件地址</label>
                        <input
                            type="text"
                            id="email"
                            name="email"
                            placeholder="請輸入您的電子郵件地址"
                            required
                            value="<%= !!locals.email?email:'' %>"
                        />
                        <label for="schoolEmail">校園電子郵件地址 (可選)</label>
                        <input
                            type="text"
                            id="schoolEmail"
                            name="schoolEmail"
                            placeholder="請輸入您的校園電子郵件地址"
                        />
                        <label for="name">匿名</label>
                        <input
                            type="text"
                            id="name"
                            name="name"
                            placeholder="請輸入您的匿名"
                            required
                        />
                        <label for="password">密碼</label>
                        <input
                            type="password"
                            id="password"
                            name="password"
                            placeholder="請輸入您的密碼"
                            required
                        />
                        <label for="password">確認密碼</label>
                        <input
                            type="password"
                            id="password"
                            name="password"
                            placeholder="請再次輸入您的密碼"
                            required
                        />
                        <label for="school">學校</label>
                        <input list="schools" id="school" name="school" />
                        <datalist id="schools">
                            <option value="Chrome"></option>
                            <option value="Firefox"></option>
                            <option value="Safari"></option>
                            <option value="Edge"></option>
                            <option value="Opera"></option>
                        </datalist>

                        <button>更新資料</button>
                    </form>
                </div>
            </section>
        </main>

        <%- include("partials/footer") %>
    </body>
</html>
