<!-- @format -->

<!DOCTYPE html>
<html lang="zh-Hant">
    <head>
        <%- include("partials/meta") %>
        <title><%= result %> | 學聲 EduVoice</title>
        <link rel="stylesheet" href="/static/css/login.css" />
    </head>

    <body class="emfont-GenWanMin">
        <%- include ("partials/nav") %>
        <header></header>
        <main>
            <h1><%= result %></h1>
            <p><%= message %></p>
        </main>
        <%- include("partials/footer") %>
    </body>
</html>
